/* ---------------------------- General ---------------------------- */
.container {
  display: flex;
}
div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
ul {
  list-style-type: none;
}
article ul {
  list-style-type: square;
}
#profile-pic img{
  border-radius: 50%;
}

/* ---------------------------- Aside ---------------------------- */
.flex-aside {
  flex: 1;
  padding: 1rem;
  float: left;
   }
aside{
  background-color: #647087;
}
aside * {
  color: white;
}
aside h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}
aside section h2:first-child{
  border-bottom: 2px solid white;
}

/* ---------------------------- MAIN ---------------------------- */
.flex-main {
  float: center;
}
main section > h2 {
  text-transform: uppercase;
  letter-spacing: 5px;
}
.hero {
  background-color: #8EB6C5;
  box-shadow: 2px 2px 40px 1px #647087 inset;
}
.hero h2 {
  color: white;
  border-top: 2px solid white;
  text-transform: none;
  letter-spacing: none;
}
.about-me h2 {
  background-color: white;
}
article h3 {
  font-weight: bold;
}
article h4 {
  font-weight: bold;
}
